@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin-top: 5px;
    overflow-x: hidden;
}

body {
    background: url(../images/background-image.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}
.container-fluid{
    max-width: 60vw;
}
/* Navigation Bar Styling */
.first-nav-container{
    margin-left: 30px;
    margin-right: 20px;
    font-size: 1.2em;
    color: rgba(70, 43, 3, 0.8);
    font-weight: 500;
    }

.second-nav-container{
    margin-bottom: 50px;
}

#logo{
    font-size: 1.8em;
}

.menu-item-text {
    color: rgba(70, 43, 3, 0.8);
    font-size: smaller;
}

.orange-icon {
    color: rgba(70, 43, 3, 0.8);
}

.menu-item-text:hover {
    color: rgba(70, 43, 3, 1);
}

.menu-item-text.active {
    color: rgba(70, 43, 3, 1);
    font-weight: 600;
}

.download-cv{
    text-decoration: none;
    color: rgba(70, 43, 3, 0.8);
}

/****
* Main content style *
****/
main {
    margin-bottom: 20px;
}
/* Hero section */
.hero {
    width: 70%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image img {
    height: 100%;
    width: 50vw;
    border-radius: 50%;
}

.card{
    background-color: transparent;
    border: transparent;
}

.hero-content h3, .hero-content p {
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

#name {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-details-1 {
    text-transform: capitalize;
    animation: colorChange1 20s infinite 2s alternate;
}


.hero-details-2 {
    text-transform: capitalize;
    animation: colorChange2 20s infinite 2s alternate;
}

.card-width{
    max-width: 750px;
}
@keyframes colorChange1 {
    0% {
        color: #f71616;
    }

    25% {
        color: #0d818c;
    }

    50% {
        color: #760ce8;
    }

    75% {
        color: #1981e9;
    }

    100% {
        color: #a87d07;
    }
}

@keyframes colorChange2 {
    0% {
        color: #0e7dc2;
    }

    25% {
        color: #974646;
    }

    50% {
        color: #b7831a;
    }

    75% {
        color: #1136a3;
    }

    100% {
        color: #d614dc;
    }
}

/*****
** SECTION STYLING **
*****/
.section-title{
justify-content: center;
    font-size: 1.7em;
    display: inline-block;
    position: relative;
    padding-left: 37px;
    margin-top: 40px;
    background-color: rgba(250, 249, 245, 1);
    border-radius: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.section-title .section-number{
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    top: 0;
    left: 0;
    color: #333333;
}

.section-title .section-number::after{
    content: "";
    display: block;
    width: 3px;
    height: 25px;
    background-color: #000000;
    margin: 10px auto 0;
}

.section-number{
    color: #000;
}
.section-title .small-text{
    display: block;
    letter-spacing: 0.4em;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}
.section-title .big-text{
    display: block;
    margin-top: 5px;
    color: rgba(70, 43, 3, 1);
    text-transform: capitalize;
}

/*****
** SECTION 1: INTRO QOUTE **
*****/
.intro-qoute{
    margin-top: 40px;
    padding: 10px;
    padding-left: 40px;
    background-color: rgba(250, 249, 245, 0.788);
position: relative;
justify-content: center;
align-items: center;
}

/*****
** SECTION 2: WEB DEVELOPMENT **
*****/


.web-dev{
    margin-top: 40px;
    padding: 10px;
    padding-left: 40px;
    background-color: rgba(210, 209, 205, 0.551);
position: relative;
justify-content: center;
align-items: center;
min-height: fit-content;
}
.travelease{
    min-height: 800px;
}

/*****
** SECTION 3: DATA ANALYSIS **
*****/
.data-analysis{
    margin-top: 40px;
    padding: 10px;
    padding-left: 40px;
    background-color: rgba(250, 249, 245, 0.788);
position: relative;
justify-content: center;
align-items: center;
}

.kpi-image{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(210, 209, 205, 0.551);
    justify-content: center;
    max-width: 75vw;
    position: relative;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    padding: 15px;
}

.data-analysis h4, .data-analysis .card-title{
    text-align: center;

    margin: auto;
}

.data-analysis h4 {
    color: #8A2BE2;
    text-decoration: underline;
    margin-bottom: 10px;
}

.data-analysis .card-title{
    color: #000;
    font-size: 1.1em;
    max-width: 50vw;
    line-height: 2em;
}

.slider-button {
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.slider-button #prevBtn {
    margin-right: 20px;
}
.df-slider-item span,.wd-slider-item span {
    margin: auto;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    max-width: fit-content;
}

.wd-slider-item h6, .wd-slider-item p{
    text-decoration: none;
    text-align: center;
}

.explore-btn a {
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}
.explore-btn a:hover {
color: #fff;
}
/*****
** SECTION 4: TESTIMONIES **
*****/
.testimonies{
    margin-top: 40px;
    padding: 10px;
    padding-left: 40px;
    background-color: rgba(210, 209, 205, 0.551);
position: relative;
justify-content: center;
align-items: center;
}

/*****
** SECTION 5: DATA ENGINEERING & DATA SCIENCE **
*****/
.future-projects{
    margin-top: 40px;
    padding: 10px;
    padding-left: 40px;
    background-color: rgba(250, 249, 245, 0.788);
position: relative;
justify-content: center;
align-items: center;
}

/*****
** SECTION 6: CLOSING QOUTE **
*****/
.closing-qoute{
    margin-top: 40px;
    padding: 10px;
    padding-left: 40px;
    background-color: rgba(210, 209, 205, 0.551);
position: relative;
justify-content: center;
align-items: center;
}

/*****
** MEDIA QUERY SECTION **
*****/

@media screen and (min-width: 768px) {

    .first-nav-container, .second-nav-container{
        margin-left: 30px;
        margin-right: 30px;
        font-size: 1.2em;
        }
    
    .second-nav-container{
        margin-bottom: 30px;
    }
 
    .hero {
        width: 80%;
        min-height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    
    }

    .hero-image img {
        height: 100%;
        width: 30vw;
        border-radius: 50%;
        margin-top: 70px;
    }
}

@media screen and (min-width: 992px) {

    .hero {
        width: 70%;
    
    }

    .hero-image img {
        height: 100%;
        width: 25vw;
        border-radius: 50%;
        margin-top: 30px;
    }

    .hero-content h3, .hero-content p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1440px) {
    .hero-image img {
        height: 100%;
        width: 25vw;
        border-radius: 50%;
        margin-top: 0;

    }
    

    .hero-content h3, .hero-content p {
        font-size: 1.2em;
    }

}
